@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* Layout */
  --mobil-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  /* Primary */
  --tomato: #ff6257;
  --strawbarry: hsl(351, 100%, 67%);

  /* Neutral */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* error colors */
  --err-color-300: hsl(5, 100%, 95%);

  /* paragrapgh */
  --par-16: 1rem;

  /* Fonts family */
  --roboto: "Roboto", sans-serif;

  /* Fonts weight */
  --body-400: 400;
  --header-700: 700;
}

*,
*::before,
*::after {
  /* Reset parts of elements */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--roboto);
  background-color: var(--charcoal-grey);

  /* Center the design */
  display: grid;
  place-items: center;
  height: 100vh;

  color: var(--charcoal-grey);
  font-size: var(--par-16);

  margin: 0;
}

h1 {
  /* font-size: 3.45rem; */
  font-size: clamp(2.5rem, 2vw + 1rem, 3.45rem);
  margin-bottom: 1rem;
}

/* Bullet points */
ul {
  list-style: none;
}

ul li {
  /* Center text so its not on the ground or roof */
  display: flex;
  align-items: center;

  margin: 1rem 0;
}

ul li::before {
  /* Felx is the best ducktape that exist */
  content: url("/newsletter-sign-up.github.io/assets/images/icon-list.svg");
  display: flex;
  margin-right: 1rem;
}
/* ... */

/* Here section */
#hero-container {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1.5rem;
  border-radius: 40px;
}

#hero-container > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 3rem 3.75rem;
  padding-left: calc(3.75rem - 1.5rem);
}
/* ... */

/* Img for desktop and mobile */
#img-holder {
  display: flex;
}

#mobile-img { 
  display: none;
}

img {
  margin: auto;
}
/* ... */


/* form submit */
#email-submit {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;

  justify-content: flex-end;
  align-items: flex-start;
}

#email-submit > div {
  width: 100%;
  display: flex;
  justify-content: space-between;

}


#email-submit .label-error {
  display: none;
  color: var(--tomato);
}

#email-submit label {
  font-size: var(--par-16);
  font-weight: var(--header-700);
}


#email-submit input#email.email-error {
  background-color: var(--err-color-300);
  border-color: var(--tomato);
  color: var(--tomato);
}

#email-submit input {
  padding: 1rem 1.25rem;
  border-radius: 5px;
  border: 1px solid var(--grey);
  margin: 0.825rem 0;

  width: 100%;
}

#email-submit input:focus,
#email-submit input:hover {
  border: 1px solid var(--dark-slate-grey);
  outline: none;
}

#email-submit button {
  color: var(--white);
  background-color: var(--charcoal-grey);

  font-family: var(--roboto);
  font-weight: var(--header-700);

  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;

  border: 0;
  border-radius: 5px;

  cursor: pointer;
  transition: color 250ms ease;
}

#email-submit button:hover {
  background: var(--dark-slate-grey);
  border: none;
}

#email-submit button:active {
  background: linear-gradient(
    90deg,
    rgba(255, 87, 112, 1) 0%,
    rgba(255, 98, 87, 1) 100%
  );
  box-shadow: 0px 10px 30px 5px var(--tomato);
}
/* ... */

@media (max-width: 23.5em) {
  body {
    background-color: var(--white);
    place-items: none;
    height: 0;
  }

  #hero-container {
    grid-template-columns: auto;
    padding: 0;
  }

  #hero-container div:first-child {
    padding: 2rem 2rem;
  }

  #hero-container #img-holder {
    grid-row: 1 / 2;
  }
  

  #desktop-img { 
    display: none;
  }

  #mobile-img {
    display: block;
  }
  
}